@inherits LayoutComponentBase

<div class="app-container">
    <AppHeader />

    <main class="app-main">
        @Body
    </main>

    <footer class="app-footer">
        <div class="footer-inner">
            <span>版权：AneiangSoft © @DateTime.Now.Year</span>
        </div>
    </footer>
</div>
